# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Build files (optional)
dist/
build/
